<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acornima" version="1.1.0" targetFramework="net472" />
  <package id="Esprima" version="3.0.5" targetFramework="net472" />
  <package id="Jint" version="4.1.0" targetFramework="net472" />
  <package id="Magick.NET.Core" version="14.8.1" targetFramework="net472" />
  <package id="Magick.NET.SystemDrawing" version="8.0.9" targetFramework="net472" />
  <package id="Magick.NET-Q16-AnyCPU" version="14.8.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net472" />
</packages>