<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Esprima" version="3.0.0-beta-3" targetFramework="net472" />
  <package id="Jint" version="3.0.0-beta-2039" targetFramework="net472" />
  <package id="Magick.NET.Core" version="12.0.0" targetFramework="net472" />
  <package id="Magick.NET.SystemDrawing" version="6.0.0" targetFramework="net472" />
  <package id="Magick.NET-Q16-AnyCPU" version="12.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
</packages>